.selection-menu {
  background-color: white;
  color: black;
  width: 100px;
  height: 60px;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
